RELEASE_NAME=brokerage-service-api
NAMESPACE=paidiver-st3

# Cluster issuer for cert manager.
CLUSTER_ISSUER_NAME=letsencrypt-brokerage-service-api

# GHCR pull secret
GHCR_SECRET_NAME=brokerage-service-api-ghcr-pull-secret
GHCR_SERVER=ghcr.io
GHCR_USERNAME=bodcsoft
GHCR_TOKEN=***
